<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <facilities>

    <facility
      id="mrfacility"
			type="Castle.MonoRail.WindsorExtension.MonoRailFacility, Castle.MonoRail.WindsorExtension" />

    <facility
			id="logging.facility"
			type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging"
			loggingApi="Log4net"
			configFile="Config/logging.config" />

  </facilities>
</configuration>