<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Monorail Template Web Site</title>
    <link rel="stylesheet" type="text/css" href="$siteroot/Content/css/layout.css" />
    $Ajax.InstallScripts() $Scriptaculous.InstallScripts() $Form.InstallScripts()
</head>
<body>
    <div>
        <h3>Monorail Template Web Site</h3>
    </div>
    <div id="content">
        $childContent
    </div>
</body>
</html>
